.tab {
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-color: rgb(199, 197, 197);
    border: 1px;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.delete-button {
    position: absolute;
    top: 25%;
    right: 0;
    background-color: transparent;
    color: rgb(197, 195, 195);
    border: none;
    padding: 5px;
    cursor: pointer;
}

.tab.hovered .delete-button {
    display: inline-block;
}

.delete-button.hovered {
    background-color: transparent;
    
}